*{
    margin: 0;
    padding: 0;
}



a:link, a:visited {
    background-color: rgb(173, 64, 64);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(2, 2, 2);
    color: white;
  }

  /* #toplinksdiv {
    background-color: aquamarine;
  } */

  .navbar {
    overflow: hidden;
 
    background-color: rgb(0, 0, 0);
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .menu {
    font-size: 16px;  
    border: none;
    outline: none;
    padding: 14px 16px;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(180, 79, 79);
    color: black;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #a07373;
    min-width: 170px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    color: white;
    background-color: rgb(26, 17, 17);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  table, th, td {
    border: 2px solid rgb(185, 180, 180);
}

h1{
    text-align: center;
    padding: 20px;
}